@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

@mixin parallax-effect() {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin hover {
  color: RebeccaPurple;
  text-decoration: line-through;
}

@mixin icons-styling($pixels) {
  font-size: $pixels;
  border: 3px solid black;
  border-radius: 50%;
}

$content-background-color: rgba(244, 252, 206, 0.7);
$lato: 'Lato', sans-serif;
$roboto: 'Roboto Mono', monospace;


*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $lato;
}

h1, h2 {
  font-family: $roboto;
}

a:hover {
  @include hover;
}

.top-image-container {
  background-image: url(../img/hero.jpg);
}

.about, .contact {
  background-image: url(../img/about.jpg);
}

.work {
  background-image: url(../img/hero.jpg);
}
