nav {
  display:flex;
  background: transparent;
  padding: 20px 40px;
}

.nav-box {
  width: 50%;
}

.right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.right:hover ul{
  display: inline;
}

ul {
  display: none;
  list-style: none;
}

li {
  background-color: $content-background-color;
  padding: 10px;
}

li:hover {
  @include hover;
}



@media screen and (max-width: 600px) {
  .left {
    display: none;
  }

  .right {
    align-items: flex-start;
  }

}
