nav {
  background: transparent;
  padding: 20px 40px;

}

.nav-box {
  width: 10%;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.nav-box i {
  font-size: 30px;
  text-decoration: overline;
  text-decoration-color: $content-background-color;
}


.nav-box:hover ul {
  display: inline;
}

ul {
  display: none;
  list-style: none;
}

li {
  background-color: $content-background-color;
  padding: 10px;
}

li:hover {
  @include hover;
}



@media screen and (max-width: 600px) {
  .left {
    display: none;
  }

  .right {
    align-items: flex-start;
  }

}
